@import './styles/global.css';
@import './styles/auth.css';
@import './styles/dashboard.css';
@import './styles/upload.css';
@import './styles/filelist.css';

/* Force Light Theme */
:root {
  color-scheme: light;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
